# on prod machine, use:
# RPi.GPIO==0.7.1

# on dev machine (default), use:
fake_rpi @ git+https://github.com/sn4k3/FakeRPi@0f30d320d5f715d8a4fb94e7105448508586ae94
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
setuptools==80.9.0
six==1.17.0
smbus2==0.5.0
tzdata==2025.2
wheel==0.45.1

# Power monitoring with INA219 sensor
adafruit-circuitpython-ina219==3.4.15
